@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 15,15,20;
  --background-end-rgb: 25,25,30;
  --subtitle-rgb: 134, 147, 171;
  --link-underline-rgb: 81, 69, 252;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: Poppins,sans-serif
}
html {
  scroll-behavior: smooth
}
.custom-container {
  max-width: 1024px
}